name: "pr-title-validation"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  validate_pr_title:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        with:
          # Use the following release types to match the same rules in the PR title lint
          # https://github.com/googleapis/release-please/blob/main/src/changelog-notes.ts#L42-L55
          types: |
            feat
            fix
            perf
            deps
            revert
            docs
            style
            chore
            refactor
            test
            build
            ci
          subjectPattern: ^(?![A-Z]).+$
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            didn't match the configured pattern. Please ensure that the subject
            doesn't start with an uppercase character.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
