name: Publish a release

on:
  push:
    tags:
      - '*'

jobs:
  macos-build:
    runs-on: macOS-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Publish the artifacts to bintray
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_API_KEY: ${{ secrets.BINTRAY_API_KEY}}
        run: ./gradlew build publish --no-daemon

      - name: Publish the plugin to Gradle Plugin portal
        env:
          PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
          PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        run: ./gradle build publishPlugins -Pgradle.publish.key=$PUBLISH_KEY -Pgradle.publish.secret=$PUBLISH_SECRET --no-daemon

env:
  GRADLE_OPTS: -Dorg.gradle.configureondemand=true -Dorg.gradle.parallel=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8"
